
.grid-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top:0px ;
    display: flex;
    transition: margin-left 0.3s ease;
  }
  
  .grid-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .grid-controls label {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .grid-controls select,
  .grid-controls input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .grid-container {
    flex: 1;
    height: calc(100% - 60px); /* Adjust based on the height of your controls */
    width: 100%;
  }
  
  /* Responsive adjustments */
  @media (min-width: 768px) {
    .grid-controls {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .count-details-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Margin to separate from the data table */
  
  }
  
  .count-detail {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1; /* Equal width columns */
    margin: 0 10px; /* Adjust spacing between columns */
    margin-top: 20px;
  }
  
  .detail-label {
    font-weight: bold;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .location-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .add-location {
    margin-right: 10px;
    font-weight:bold;
    color: #5C95FF;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  .add-location:hover{
    font-size: 20px;
  }
  
  .bulk-location {
    background-color:#5C95FF;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }

  /* search and download */
  .search-and-export {
    display: flex;
    align-items: center;
    padding: 5px 10px; /* Reduced padding to make the height less */
    width: 100%; /* Ensures the div takes the full width of the container */
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  }
  
  
  
  .export-button {
    margin-left: 30px; /* Adds space between the search label and the export button */
  }
  
  .search-label {
    display: flex;
    align-items: center;
  }
  
  .search-label input {
    margin-left: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .export-button {
    background-color: #5C95FF;
    color: white;
    border: none;
    padding: 5px 10px; /* Reduced padding to make the height less */
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .export-button:hover {
    background-color: #005f7f;
  }
  #t_count{
    color:#5C95FF
  }
  #a_count{
    color: green;
  }
  #i_count{
    color: red;
  }
  #v_count{
    color: violet;
  }
  #y_count{
    color: darkorange;
  }

 
  
  .grid-wrapper.sidebar-open .content {
    margin-left: 200px; /* Adjust this value based on sidebar width */
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
 /* Location.css */
.location-master-container {
  display: flex;
}

.main-content {
  margin-left: 200px; /* Adjust this value if you change the sidebar width */
  padding: 20px;
  width: calc(100% - 200px); /* Adjust this value if you change the sidebar width */
}



  