/* Sidebar.css */
.sidebar {
    width: 250px;
    background-color: #eaeaea;
    color: #fff;
    border: 0.5px solid #c2c2c2;
    border-radius:2px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
    overflow-y: auto;
  }
  
  
  .sidebar h2 {
    padding: 20px;
    margin: 0;
    color: #4B0EAE;
    background-color: #fff;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    padding: 10px 20px;
    color: #000;
  }
  
  .sidebar ul li a {
    color: #000;
    text-decoration: none;
  }
  
  .sidebar ul li:hover {
    background-color: #555;
  }
  
  .sidebar ul li a:hover {
    text-decoration: underline;
  }
  
  /* Hamburger button */
  .hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000; /* Ensure it stays above other content */
    color: #333;
  }
  



  /* src/NavigationBar.css */

/* src/NavigationBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding-bottom: 20px;

}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-button {
  background-color: #4B0EAE;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 2px;
  height: 35px;
  width: 150px;
  cursor: pointer;
  margin: 0 5px;

}


