.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.btnAdd{
  background-color: #4B0EAE;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 2px;
  height: 35px;
  width: 150px;
  cursor: pointer;
}
.btnDownload{
  background-color: white;
  color: #4B0EAE;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  height: 35px;
  width: 150px;
  cursor: pointer;
}
.grid-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.grid-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  gap: 10px;
}

.grid-controls label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-controls select,
.grid-controls input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.grid-container {
  flex: 1;
  height: calc(100% - 60px); /* Adjust based on the height of your controls */
  width: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .grid-controls {
    flex-direction: row;
    justify-content: space-between;
  }
}


/* header css */

.page_header {
 
  padding: 20px 20px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 4px;
}

.page_title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.pagehead_btn {
  display: flex;
  
}

.count {
  width: 100%;
  margin: 0 6px;
  position: relative;
  left: 150px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 0;
  margin-top: -5px;
}
.Invcount{
  width: 100%;
  margin: 0 6px;
  position: relative;
  left: 55px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 0;
  margin-top: -5px;
}


.selectrole_header label.control-label {
  min-width: 80px;
}

.role_head {
  background-color: #EFF0F1;
  padding: 5px 12px;
  color: #210154;
  font-weight: 600;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.col {
  flex: 1 0 0%;
}
.text-center {
  text-align: center !important;
}

.role_body {
  height: calc(100vh - 125px);
  overflow: auto;
}

  .role_body .roletab_head {
      background-color: #F5F6F7;
      padding: 9px;
      font-size: 16px;
      font-weight: 600;
      color: #210154;
      display: flex;
      flex-direction: row;
  }
  .roletab_box{
    margin-bottom: 2px;
  }
  .role_body .roletab_data {
      padding: 10px 10px;
      border: 1px solid #eff0f1;
  }

      .role_body .roletab_data .form_box {
          padding: 5px 10px;
          border-bottom: 1px solid #eff0f1;
          font-size: 16px;
          color: #4B0EAE;
         
      }

          .role_body .roletab_data .form_box:last-child {
              border-bottom: 0;
          }

.roletab_head .form-check {
  width: 24.3%;
  padding-left: 0;
}

.form-check-input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 3px !important;
}

  .form-check-input:checked {
      background-color: #4B0EAE;
      border-color: #4B0EAE;
  }

  .form-check-input:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(75, 14, 174, 0.20);
  }

.form-check .form-check-label {
  padding-left: 8px;
}