.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body p {
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

.btnAdd{
  background-color: #4B0EAE;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 2px;
  height: 35px;
  width: 150px;
  cursor: pointer;
}
.btnDownload{
  background-color: white;
  color: #4B0EAE;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  height: 35px;
  width: 150px;
  cursor: pointer;
}
.grid-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.grid-controls {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  gap: 10px;
}

.grid-controls label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-controls select,
.grid-controls input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.grid-container {
  flex: 1;
  height: calc(100% - 60px); /* Adjust based on the height of your controls */
  width: 100%;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .grid-controls {
    flex-direction: row;
    justify-content: space-between;
  }
}


/* header css */

.page_header {
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 5px;
}

.page_title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.pagehead_btn {
  display: flex;
  
}

.count {
  width: 100%;
  margin: 0 6px;
  position: relative;
  left: 150px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 0;
  margin-top: -5px;
}
.Invcount{
  width: 100%;
  margin: 0 6px;
  position: relative;
  left: 55px;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 0;
  margin-top: -5px;
}


.selectrole_header label.control-label {
  min-width: 80px;
}

.role_head {
  background-color: #EFF0F1;
  padding: 5px 12px;
  color: #210154;
  font-weight: 600;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}
.col {
  flex: 1 0 0%;
}
.text-center {
  text-align: center !important;
}

.role_body {
  height: calc(100vh - 125px);
  overflow: auto;
}

  .role_body .roletab_head {
      background-color: #F5F6F7;
      padding: 9px;
      font-size: 16px;
      font-weight: 600;
      color: #210154;
      display: flex;
      flex-direction: row;
  }
  .roletab_box{
    margin-bottom: 2px;
  }
  .role_body .roletab_data {
      padding: 10px 10px;
      border: 1px solid #eff0f1;
  }

      .role_body .roletab_data .form_box {
          padding: 5px 10px;
          border-bottom: 1px solid #eff0f1;
          font-size: 16px;
          color: #4B0EAE;
         
      }

          .role_body .roletab_data .form_box:last-child {
              border-bottom: 0;
          }

.roletab_head .form-check {
  width: 24.3%;
  padding-left: 0;
}

.form-check-input[type=checkbox] {
  width: 16px;
  height: 16px;
  border-radius: 3px !important;
}

  .form-check-input:checked {
      background-color: #4B0EAE;
      border-color: #4B0EAE;
  }

  .form-check-input:focus {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(75, 14, 174, 0.20);
  }

.form-check .form-check-label {
  padding-left: 8px;
}


/* ================== Sidebar Css : BEGIN ================== */
.sprite:before {
  content: "";
  background-image: url(./assets/images/location_sprite.svg);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.sprite.dash_ico::before {
  background-position: -283px -1px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .dash_ico::before {
  background-position: -283px -34px;
}

.sprite.card_ico::before {
  background-position: -653px -1px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .card_ico::before {
  background-position: -283px -34px;
}

.sprite.enroll_ico::before {
  background-position: -419px 0px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .enroll_ico::before {
  background-position: -419px -34px;
}

.sprite.user_ico::before {
  background-position: -388px -2px;
  width: 16px;
  height: 20px;
}

.custom_sidebar .nav-link.active .user_ico::before {
  background-position: -388px -36px;
}

.sprite.noti_ico::before {
  background-position: -317px 0px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .noti_ico::before {
  background-position: -317px -34px;
}

.sprite.repo_ico::before {
  background-position: -351px 0px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .repo_ico::before {
  background-position: -351px -34px;
}

.sprite.confi_ico::before {
  background-position: -453px 0px;
  width: 22px;
  height: 22px;
}

.custom_sidebar .nav-link.active .confi_ico::before {
  background-position: -453px -34px;
}

.add_btn {
  display: flex;
  align-items: center;
}

  .add_btn.sprite::before {
      width: 20px;
      height: 26px;
      margin-right: 5px;
  }

  .add_btn.sprite:hover::before {
      background-position: 0px -30px;
  }

.import_btn {
  display: flex;
  align-items: center;
}

  .import_btn.sprite::before {
      width: 16px;
      height: 16px;
      margin-right: 5px;
      background-position: -33px -7px;
  }

  .import_btn.sprite:hover::before {
      background-position: -33px -37px;
  }

.allocate_btn {
  display: flex;
  align-items: center;
}

  .allocate_btn.sprite::before {
      width: 16px;
      height: 20px;
      margin-right: 5px;
      background-position: -186px -2px;
  }

  .allocate_btn.sprite:hover::before {
      background-position: -186px -36px;
  }

.allocatecard_btn {
  display: flex;
  align-items: center;
}

  .allocatecard_btn.sprite::before {
      width: 16px;
      height: 12px;
      margin-right: 5px;
      background-position: -688px -8px;
  }

  .allocatecard_btn.sprite:hover::before {
      background-position: -688px -38px;
  }

.allo_location_btn {
  display: flex;
  align-items: center;
}

  .allo_location_btn.sprite::before {
      width: 14px;
      height: 16px;
      margin-right: 5px;
      background-position: -123px -6px;
  }

  .allo_location_btn.sprite:hover::before {
      background-position: -123px -36px;
  }

.dw_btn {
  display: flex;
  align-items: center;
}

  .dw_btn.sprite::before {
      width: 10px;
      height: 12px;
      margin-right: 5px;
      background-position: -719px -36px;
  }

.custom_sidebar ul {
  overflow: auto;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
}

.custom_sidebar {
  width: 88px;
  padding-right: 0;
  background-color: #EAEAEA;
  border-right: 1px solid #e3e3e3;
}

  .custom_sidebar .user_type {
      padding-top: 8px;
  }

  .custom_sidebar .first_child {
      margin-top: 8px;
      margin-bottom: 4px;
  }

  .custom_sidebar .nav-link {
      cursor: pointer;
      border-radius: 0px;
      position: relative;
      padding: 0;
  }

      .custom_sidebar .nav-link.last_child_user {
          background-color: #ede4fb;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 75px;
          margin-bottom: 0px !important;
          border-top: 1px solid #b7b7b7;
      }

      .custom_sidebar .nav-link:hover .dash_ico::before {
          background-position: -283px -35px;
      }

      .custom_sidebar .nav-link:hover .card_ico::before {
          background-position: -653px -35px;
      }

      .custom_sidebar .nav-link:hover .enroll_ico::before {
          background-position: -419px -34px;
      }

      .custom_sidebar .nav-link:hover .user_ico::before {
          background-position: -388px -36px;
      }

      .custom_sidebar .nav-link:hover .noti_ico::before {
          background-position: -317px -34px;
      }

      .custom_sidebar .nav-link:hover .repo_ico::before {
          background-position: -351px -34px;
      }

      .custom_sidebar .nav-link:hover .confi_ico::before {
          background-position: -453px -34px;
      }

      .custom_sidebar .nav-link:hover a {
          color: #4B0EAE;
      }

      .custom_sidebar .nav-link ~ .nav-link {
          margin-bottom: 8px;
      }

      .custom_sidebar .nav-link a {
          font-size: 11px;
          color: #555555;
          font-weight: 600;
          padding: 7px 0px;
          transition: 0.3s all;
          display: block;
          text-decoration: none;
      }

      .custom_sidebar .nav-link.active {
          background-color: #ECE0FF;
      }

          .custom_sidebar .nav-link.active a {
              background-color: #ECE0FF;
              color: #4B0EAE;
          }

          .custom_sidebar .nav-link.active .menu_box:before {
              content: '';
              position: absolute;
              left: 5px;
              height: 36px;
              width: 2px;
              background-color: #4B0EAE;
              top: 9px;
          }

      .custom_sidebar .nav-link .menu_icon {
          position: relative;
          min-height: 22px;
          padding-bottom: 5px;
      }

          .custom_sidebar .nav-link .menu_icon img.nav-icon {
              border: 1px solid #6D71AC;
              border-radius: 3px;
          }

      .custom_sidebar .nav-link.last_child_user .menu_icon:before {
          display: none;
      }

      .custom_sidebar .nav-link.active .card_ico:before {
          background-position: -653px -35px;
      }

      .custom_sidebar .nav-link.active .noti_ico:before {
          background-position: -317px -34px;
      }

      .custom_sidebar .nav-link.active .repo_ico:before {
          background-position: -351px -34px;
      }

      .custom_sidebar .nav-link.active .confi_ico:before {
          background-position: -453px -34px;
      }

      .custom_sidebar .nav-link.active:focus .menu_icon .nav-icon, .custom_sidebar .nav-link.active:hover .menu_icon .nav-icon {
          filter: invert(0%);
      }

      .custom_sidebar .nav-link.active:focus p, .custom_sidebar .nav-link.active:hover p {
          color: #6F7581;
      }
      .nav-pills {
        --bs-nav-pills-border-radius: 0.375rem;
        --bs-nav-pills-link-active-color: #fff;
        --bs-nav-pills-link-active-bg: #0d6efd;
    }
    .nav {
      --bs-nav-link-padding-x: 1rem;
      --bs-nav-link-padding-y: 0.5rem;
      --bs-nav-link-font-weight: ;
      --bs-nav-link-color: var(--bs-link-color);
      --bs-nav-link-hover-color: var(--bs-link-hover-color);
      --bs-nav-link-disabled-color: #6c757d;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
  }
  .flex-column {
    flex-direction: column !important;
}
  .text-center {
    text-align: center !important;
}

/* ================== Sidebar Css : END ================== */


/* ================== Slide layout Configuration : BEGIN ================== */

.slide_layout_wrapper .main-body {
  width: calc(100% - 310px);
  padding: 0 15px;
  max-height: calc(100vh - 0px);
  overflow: hidden;
}

.slide_layout_wrapper .slide_menu {
  width: 210px;
  background-color: #f1f1f1;
  height: 100vh;
  padding: 0 4px 0 8px;
  border-right: 1px solid #e3e3e3;
}

.slide_menu h2 {
  font-size: 20px;
  font-weight: 700;
  color: #4B0EAE;
 
}

.slide_menu ul {
  padding: 0;
}

.slide_menu ul li {
      list-style: none;
  }

.mb-1 {
    margin-bottom: .25rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.mt-2 {
    margin-top: .5rem !important;
}
.align-items-center {
    align-items: center !important;
}
.d-flex {
    display: flex !important;
}
.me-2 {
  margin-right: .5rem !important;
}

img, svg {
  vertical-align: middle;
}

.config_box {
  overflow: auto;
  height: 100vh;
}

  .config_box::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px transparent;
      border-radius: 10px;
      background-color: transparent;
  }

  .config_box::-webkit-scrollbar {
      width: 4px;
      background-color: transparent;
      height: 5px;
  }

  .config_box::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px #f1f1f1;
      background-color: #f1f1f1;
  }

  .config_box .config_subttl {
      font-size: 14px;
      font-weight: 600;
      position: relative;
      color: #6F7581;
  }

      .config_box .config_subttl:after {
          content: '';
          position: absolute;
          right: 0px;
          height: 1px;
          width: 43px;
          background-color: #6F7581;
          top: 12px;
      }

.c_sidebar ul li.nav-link {
  padding: 0;
}

  .c_sidebar ul li.nav-link a {
      font-size: 14px;
      text-align: left;
      color: #6F7581;
      padding: 6px 16px;
      border-radius: 4px;
      display: block;
      text-decoration: none;
  }

  .c_sidebar ul li.nav-link:hover {
      background-color: #ECE0FF;
  }

  .c_sidebar ul li.nav-link.active a {
      background-color: #ECE0FF;
      color: #4B0EAE;
      font-weight: 600;
  }

.nav-pills .nav-link.active {
  background-color: transparent;
}
.page_title_sub {
  font-size: 16px;
  color: #6F7581;
  font-weight: 400;
  margin-bottom: 0;
  padding: 9px 8px;
  margin-right: 8px;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.justify-content-between{
  justify-content:space-between;
}
.add_btn {
  display: flex;
  align-items: center;
}
.primary_btn {
  background-color: #4B0EAE;
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 14px;
  border: none;
  min-height: 32px;
  min-width: 80px;
}
.import_btn {
  display: flex;
  align-items: center;
}
.trans_btn_bg {
  background-color: transparent;
  color: #4B0EAE;
  font-weight: 600;
  border: 1px solid #fff !important;
  border-radius: 4px;
  padding: 3px 10px;
  font-size: 14px;
  line-height: 14px;
  border: none;
  min-height: 32px;
  min-width: 80px;
}
.page_title_sub.active {
  font-size: 16px;
  color: #4B0EAE;
  font-weight: 600;
  margin-bottom: 0;
  border-bottom: 2px solid #4B0EAE;
}

.location_filter {
  /*border-top: 1px solid #e3e3e3;*/
  border-bottom: 1px solid #e3e3e3;
}

.location_box {
  width: 100%;
  margin: 0 6px;
  position: relative;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  padding: 4px 0;
  margin-top: -5px;
}

  .location_box:hover {
      background-color: #ECE0FF;
  }

  .location_box:after {
      content: "";
      position: absolute;
      background-color: #e3e3e3;
      width: 1px;
      height: 30px;
      right: -7px;
      top: 8px;
  }

  .location_box:last-child:after {
      display: none;
  }

  .location_box div {
      font-size: 12px;
      font-weight: 600;
  }

  .location_box p {
      font-size: 14px;
      font-weight: 700;
      min-height: 21px;
  }
  .color_purple {
    color: #4B0EAE;
}
.color_green {
  color: #3BB264;
}
.color_red {
  color: #CC4A31;
}
.color_blue {
  color: #1077DA;
}
.color_orange {
  color: #F07A20;
}
.page_title {
  font-size: 24px;
  color: #4B0EAE;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 32px;
}
.login-btn {
  border: none;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  display: block;
}
.form-select {
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* ================== Login Page CSS : BEGIN ================== */
.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.forgot_pass {
  font-size: 14px;
}

  .forgot_pass:hover {
      color: #8F00FF;
  }

.form-left span.logo {
  font-size: 36px;
  font-weight: 700;
  color: #4B0EAE;
}

.form-left h3 {
  color: #4B0EAE;
  font-weight: 700;
}

.form-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .form-right p {
      color: #535AC1;
  }

.input-group-addon {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  z-index: 11;
}

.captchacode {
  background-image: url(./assets/images/captch_bg.jpg);
  background-repeat: repeat;
  background-size: 100%;
  font-weight: 700;
  text-align: center;
  /*width: 130px !important;*/
}
/* ================== Login Page CSS : END ================== */



/* ================== Enrollement Process Page CSS : BEGIN ================== */
.ep_page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.enrollmentbox {
  background-color: #EFEFF1;
  padding: 24px;
}

.elbox_left {
  display: flex;
  align-items: center;
  height: 100%;
}

  .elbox_left .bio_object {
      margin-top: 16px;
      width: 208px;
      height: 205px;
  }


.elbox_right {
  background-color: #F6F6FC;
  padding: 16px;
}

.elbox_data {
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 8px 0 0 8px;
  min-width: 170px;
  /*height: 380px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .elbox_data .elbox_header .name {
      font-size: 16px;
      font-weight: 700;
      color: #4B0EAE;
  }

  .elbox_data .elbox_header .id {
      font-size: 14px;
      font-weight: 600;
      color: #4B0EAE;
  }

  .elbox_data .elbox_header .role {
      color: #4B0EAE;
  }

  .elbox_data .elbox_footer .timer_box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }

      .elbox_data .elbox_footer .timer_box p {
          font-size: 12px;
          color: #4B0EAE;
          margin-bottom: 0;
      }

      .elbox_data .elbox_footer .timer_box span {
          font-size: 12px;
          color: #FF0000;
      }

  .elbox_data .elbox_footer .button_box {
      display: flex;
      justify-content: space-between;
  }

      .elbox_data .elbox_footer .button_box a {
          font-size: 12px;
          color: #8F00FF;
          border: 1px solid #E2E1F6;
          border-radius: 3px;
          padding: 3px 16px;
      }

/* ================== Enrollement Process Page CSS : END ================== */


/* ================== Step Wizard : BEGIN ================== */
.verticalwiz {
  display: block;
  border: none;
}

  .verticalwiz li {
      border: 0 !important;
      padding: 14px 0;
  }

      .verticalwiz li.before-line:before {
          border-top: 2px solid #EFEFF1;
          content: "";
          display: block;
          position: relative;
          top: 47px;
          left: 0;
          right: 0;
          z-index: 11;
          width: 100%;
          transform: rotate(90deg) translateY(53px);
          max-width: 30px;
          margin: 0 auto;
      }

      .verticalwiz li.before-line:last-child:before {
          width: 0;
      }

      .verticalwiz li .step {
          background: #ffffff;
          color: #fff;
          display: inline-block;
          width: 32px;
          height: 32px;
          padding: 3px;
          border: 2px solid #EFEFF1;
          border-radius: 50%;
          line-height: normal;
          position: relative;
          text-align: center;
          transition: all .1s linear 0s;
      }

          .verticalwiz li .step i {
              font-size: 10px;
              font-weight: 400;
              position: relative;
              top: -1.5px;
          }

          .verticalwiz li .step label {
              display: block;
              background-color: #EFEFF1;
              color: #444;
              border-radius: 50%;
              height: 20px;
              width: 20px;
              top: 1px;
              left: 1px;
              position: relative;
              font-size: 14px;
              font-weight: 600;
          }

      .verticalwiz li.active .step {
          border: 2px solid #8F00FF;
      }

          .verticalwiz li.active .step label {
              background-color: #8f00ff;
              color: #fff;
          }

      .verticalwiz li.active.complete .step label {
          background-color: #01D87E;
          color: #fff;
      }

      .verticalwiz li.active.complete .step {
          color: #fff;
          border: 2px solid #01D87E;
      }

      .verticalwiz li.active.complete .title {
          color: #01D87E;
      }

      .verticalwiz li.active.complete:before {
          border-color: #01D87E;
      }

      .verticalwiz li.active:before {
          border-color: #8f00ff;
      }

      .verticalwiz li.complete .title, .verticalwiz li.active .title {
          color: #8F00FF;
      }

      .verticalwiz li .title {
          font-size: 16px;
          font-weight: 600;
          color: #444;
          position: relative;
          top: 0px;
          left: 10px;
      }

.rightab {
  border-radius: 3px;
  padding-left: 16px;
  width: 100%;
}

/* Tab Body Part Start */
.tabbody {
  flex-direction: column;
  /* height: calc(100vh - 245px); */
  min-height: 380px;
}

  .tabbody .tabbody_header {
  }

      .tabbody .tabbody_header .tabbody_title {
          font-size: 20px;
          font-weight: 700;
          color: #4B0EAE;
      }

      .tabbody .tabbody_header .tabbody_sub_title {
          font-size: 12px;
          color: #270958;
      }

  .tabbody .tabbody_data {
      min-height: 200px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      padding: 10px;
  }

      .tabbody .tabbody_data.success_main {
          flex-wrap: wrap;
          /*min-height: 378px;*/
      }

          .tabbody .tabbody_data.success_main .smartcard_box {
              min-height: 288px;
              display: flex;
              justify-content: center;
              flex-direction: column;
              align-items: center;
          }

      .tabbody .tabbody_data.smartcard_main {
          height: 250px;
      }

      .tabbody .tabbody_data.success_main {
          /*height: 340px;*/
      }

      .tabbody .tabbody_data .smartcard_box {
          text-align: center;
      }

          .tabbody .tabbody_data .smartcard_box img {
              margin-top: 20px;
              width: 150px;
              height: 150px;
          }

              .tabbody .tabbody_data .smartcard_box img.success_icon {
                  margin-top: 20px;
                  width: 110px;
                  height: 110px;
              }

      .tabbody .tabbody_data .smartcard_error {
          color: #FF0000;
          margin-top: 20px;
          font-size: 12px;
      }

      .tabbody .tabbody_data .smartcard_success {
          color: #270958;
          margin-top: 20px;
      }

.tabbody_data .thanksmsg_success {
  font-size: 24px;
  font-weight: 600;
  color: #4B0EAE;
  margin-top: 20px;
}

.tabbody .tabbody_data input.form-control {
  background-color: #EFEFF1;
  height: 40px;
  text-align: center;
}

  .tabbody .tabbody_data input.form-control.field_error {
      color: #FF0000;
  }

.tabbody .tabbody_footer {
}

  .tabbody .tabbody_footer .primary_btn {
      width: 100%;
      height: 38px;
  }

      .tabbody .tabbody_footer .primary_btn.red_btn {
          background-color: #F31B1B;
      }

      .tabbody .tabbody_footer .primary_btn.green_btn {
          background-color: #01D87E;
      }

.tabbody.tab-3 {
  display: flex;
  justify-content: space-between;
}

.poweredby {
  font-size: 12px;
  color: #535AC1;
  text-align: center;
  margin-bottom: 0;
}


/* ================== Step Wizard : END ================== */


/* ================== Button Click Loading Animation : BEGIN ================== */
.login-btn {
  border: none;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  display: block;
}

  .login-btn:focus {
      outline: none;
  }

  .login-btn::after {
      content: '';
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: calc(50% - 0.75em);
      top: calc(50% - 0.75em);
      border: 0.15em solid transparent;
      border-right-color: white;
      border-radius: 50%;
      animation: button-anim 0.7s linear infinite;
      opacity: 0;
  }

@keyframes button-anim {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(360deg);
  }
}

.login-btn.loading {
  color: transparent;
}

  .login-btn.loading::after {
      opacity: 1;
  }
  .signin_btn {
    background-color: #4B0EAE;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 14px;
    border: none;
    min-height: 32px;
    width: 100%;
}

    .signin_btn:hover, .signin_btn:active:focus, .signin_btn:focus-visible {
        background-color: #330878;
        color: #fff;
    }
/* ================== Button Click Loading Animation : END ================== */
